flows.json
[
    {
        "id": "3dfbcfcfa23b657e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6fdccfe0f118919f",
        "type": "tab",
        "label": "Flow 4",
        "disabled": true,
        "info": ""
    },
    {
        "id": "7264535099ada3c6",
        "type": "tab",
        "label": "Flow 5",
        "disabled": true,
        "info": ""
    },
    {
        "id": "b7bffd295b9a1b79",
        "type": "tab",
        "label": "Flow 6",
        "disabled": true,
        "info": ""
    },
    {
        "id": "5d1f9e1affaa105e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "d22c141a78fa65eb",
        "type": "tab",
        "label": "Flow 28",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8c78f4d.679e8",
        "type": "subflow",
        "name": "csvColumnParser",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 70,
                "y": 80,
                "wires": [
                    {
                        "id": "a8857356.d49e68"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 80,
                "wires": [
                    {
                        "id": "d71e0bef.46647",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "0964b369410d0d4e",
        "type": "mqtt-broker",
        "name": "bruhhhhh",
        "broker": "localhost",
        "port": "1885",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "83125750f53cd3fb",
        "type": "mqtt-broker",
        "name": "bruh1",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dd969d2656fade9e",
        "type": "ui_group",
        "name": "charts",
        "tab": "4aea2e4653e969c1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "07ab38be7e1485ff",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": true,
        "hidden": false
    },
    {
        "id": "9ed04abb86c92676",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "69d5f6e378987ee1",
        "type": "ui_group",
        "name": "Analog",
        "tab": "07ab38be7e1485ff",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "77fca34203602aa4",
        "type": "ui_tab",
        "name": "mqtt_dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4555bee972562605",
        "type": "ui_tab",
        "name": "Agriculture",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c987525d9cb0fbf3",
        "type": "twilio-api",
        "name": "twilio",
        "sid": "ACf97f8a45d814ef9ab81bf84f7058d217",
        "from": "+13212803044"
    },
    {
        "id": "90792918f69570b1",
        "type": "ui_group",
        "name": "Slider",
        "tab": "4555bee972562605",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4aea2e4653e969c1",
        "type": "ui_tab",
        "name": "mqtt_dass",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ac5b66c3a556b349",
        "type": "ui_tab",
        "name": "charts_output",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f1cc08defacef229",
        "type": "ui_group",
        "name": "chartsss",
        "tab": "4aea2e4653e969c1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3ca39898fc4e7f20",
        "type": "ui_group",
        "name": "Electrical Cond.",
        "tab": "4aea2e4653e969c1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c915e63700f12513",
        "type": "ui_group",
        "name": "pH",
        "tab": "4aea2e4653e969c1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca324de2eaec5a1f",
        "type": "ui_group",
        "name": "ORP",
        "tab": "4aea2e4653e969c1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fb97cd149b00f67b",
        "type": "ui_group",
        "name": "DO",
        "tab": "4aea2e4653e969c1",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e8d8bee5d84e127",
        "type": "ui_group",
        "name": "temp",
        "tab": "4aea2e4653e969c1",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cbbbd8214b09b908",
        "type": "ui_group",
        "name": "Quality",
        "tab": "4aea2e4653e969c1",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "efa2f010528b13ec",
        "type": "coap-server",
        "name": "IOT coap server",
        "port": "5683"
    },
    {
        "id": "87ce5802d8ebbb1b",
        "type": "coap-server",
        "name": "bruh",
        "port": "5683"
    },
    {
        "id": "7f4721321d8f66be",
        "type": "coap-server",
        "name": "hahahalol",
        "port": "5685"
    },
    {
        "id": "6229c52411094b95",
        "type": "fred-client",
        "endpoint": "MIoT",
        "private": false,
        "username": "dopemex",
        "wholemsg": "false"
    },
    {
        "id": "fd2659218a7a58bc",
        "type": "fred-client",
        "endpoint": "MIOT",
        "private": false,
        "username": "dopemex",
        "wholemsg": "false"
    },
    {
        "id": "21c9b80c00806814",
        "type": "fred-client",
        "endpoint": "bruh",
        "private": false,
        "username": "dopemex",
        "wholemsg": "false"
    },
    {
        "id": "93604f4cc1f7efd2",
        "type": "ui_group",
        "name": "Lab13",
        "tab": "35d7f3e228c07fb9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "35d7f3e228c07fb9",
        "type": "ui_tab",
        "name": "Lab13",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b82da486.9fc8d8",
        "type": "ui_group",
        "name": "Signin",
        "tab": "d65502b1.ee517",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c35e46a8.b04ce8",
        "type": "ui_group",
        "name": "SensorData",
        "tab": "d65502b1.ee517",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4de9506d.e7364",
        "type": "ui_group",
        "name": "History",
        "tab": "d65502b1.ee517",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d65502b1.ee517",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a8857356.d49e68",
        "type": "csv",
        "z": "c8c78f4d.679e8",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "d12b5d18.58218"
            ]
        ]
    },
    {
        "id": "3b501c89.fa554c",
        "type": "split",
        "z": "c8c78f4d.679e8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "6dad6ed9.c91f08"
            ]
        ]
    },
    {
        "id": "6dad6ed9.c91f08",
        "type": "function",
        "z": "c8c78f4d.679e8",
        "name": "",
        "func": "if (!context.results) context.results = {}\n\nif (!context.results[msg.topic]) context.results[msg.topic] = []\ncontext.results[msg.topic].push(msg.payload)\nmsg.payload = context.results\n\nif ((msg.originalParts.index === msg.originalParts.count - 1) && (msg.parts.index === msg.parts.count - 1)) {\n    msg.payload = context.results\n    context.results = {}\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 80,
        "wires": [
            [
                "d71e0bef.46647"
            ]
        ]
    },
    {
        "id": "d12b5d18.58218",
        "type": "change",
        "z": "c8c78f4d.679e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "originalParts",
                "pt": "msg",
                "to": "parts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "3b501c89.fa554c"
            ]
        ]
    },
    {
        "id": "d71e0bef.46647",
        "type": "change",
        "z": "c8c78f4d.679e8",
        "name": "spread",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$spread(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3d44186621e31e6d",
        "type": "ui_button",
        "z": "3dfbcfcfa23b657e",
        "name": "",
        "group": "dd969d2656fade9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Hello World",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "edfbdef6f1588129",
                "1d0bba28a308f0f4"
            ]
        ]
    },
    {
        "id": "1d0bba28a308f0f4",
        "type": "debug",
        "z": "3dfbcfcfa23b657e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "edfbdef6f1588129",
        "type": "ui_text",
        "z": "3dfbcfcfa23b657e",
        "group": "dd969d2656fade9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kunal Makwana",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 980,
        "y": 200,
        "wires": []
    },
    {
        "id": "359c1cda5f168f4e",
        "type": "ui_slider",
        "z": "3dfbcfcfa23b657e",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "90792918f69570b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "300",
        "step": 1,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "ac7545f7ed3d7771"
            ]
        ]
    },
    {
        "id": "ac7545f7ed3d7771",
        "type": "ui_gauge",
        "z": "3dfbcfcfa23b657e",
        "name": "",
        "group": "90792918f69570b1",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "e37befcdda20551e",
        "type": "openweathermap",
        "z": "6fdccfe0f118919f",
        "name": "bruh",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "mumbai",
        "country": "India",
        "language": "en",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "3b12d95db4616998",
                "f6edb153301da23b"
            ]
        ]
    },
    {
        "id": "3b12d95db4616998",
        "type": "debug",
        "z": "6fdccfe0f118919f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "f6edb153301da23b",
        "type": "ui_gauge",
        "z": "6fdccfe0f118919f",
        "name": "",
        "group": "dd969d2656fade9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{msg.payload.tempc}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "dcf18a6777937994",
        "type": "inject",
        "z": "6fdccfe0f118919f",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "e37befcdda20551e"
            ]
        ]
    },
    {
        "id": "4b73b25fe51655e4",
        "type": "openweathermap",
        "z": "7264535099ada3c6",
        "name": "bruh",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "mumbai",
        "country": "India",
        "language": "en",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "1c2b8cd171d17f4a",
                "40b03fcaaad22b85",
                "f8088592395e4343"
            ]
        ]
    },
    {
        "id": "1c2b8cd171d17f4a",
        "type": "debug",
        "z": "7264535099ada3c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "40b03fcaaad22b85",
        "type": "ui_gauge",
        "z": "7264535099ada3c6",
        "name": "",
        "group": "90792918f69570b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Feels Like",
        "label": "Celcius",
        "format": "{{msg.payload.tempc}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "d80a3483fe76bd7d",
        "type": "inject",
        "z": "7264535099ada3c6",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "4b73b25fe51655e4"
            ]
        ]
    },
    {
        "id": "f8088592395e4343",
        "type": "function",
        "z": "7264535099ada3c6",
        "name": "",
        "func": "if (msg.payload.weather === \"Haze\"){\n    msg.payload = \"Stay Safe its Haze\";\n    return msg;\n}\nif (msg.payload.weather ===\"Clear\"){\n    mss.payload = \"Stay Happy, It's Clear\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 400,
        "wires": [
            [
                "2cb262e2bc67fbdb"
            ]
        ]
    },
    {
        "id": "2cb262e2bc67fbdb",
        "type": "ui_text",
        "z": "7264535099ada3c6",
        "group": "90792918f69570b1",
        "order": 4,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "Comment",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "dd6371f6effac76a",
        "type": "openweathermap",
        "z": "b7bffd295b9a1b79",
        "name": "bruh",
        "wtype": "onecall",
        "lon": "72.877426",
        "lat": "19.076090",
        "city": "",
        "country": "",
        "language": "en",
        "x": 630,
        "y": 200,
        "wires": [
            [
                "c9102043b83e7548",
                "b0fd8e355cd90e97",
                "34a63c0db52fbade"
            ]
        ]
    },
    {
        "id": "c9102043b83e7548",
        "type": "debug",
        "z": "b7bffd295b9a1b79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "b0fd8e355cd90e97",
        "type": "ui_gauge",
        "z": "b7bffd295b9a1b79",
        "name": "",
        "group": "dd969d2656fade9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature in Celcius",
        "label": "Celcius",
        "format": "{{msg.payload.daily[0].temp.max}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 980,
        "y": 180,
        "wires": []
    },
    {
        "id": "78703391f2c6e9b3",
        "type": "inject",
        "z": "b7bffd295b9a1b79",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "dd6371f6effac76a"
            ]
        ]
    },
    {
        "id": "34a63c0db52fbade",
        "type": "function",
        "z": "b7bffd295b9a1b79",
        "name": "",
        "func": "if (msg.payload.daily[0].weather[0].main === \"Rain\"){\n    msg.payload = \"It's going to rain today, Please Take Care\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "2068f992fa10f4d0",
                "24dddeb9a9e986c5"
            ]
        ]
    },
    {
        "id": "2068f992fa10f4d0",
        "type": "debug",
        "z": "b7bffd295b9a1b79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 520,
        "wires": []
    },
    {
        "id": "24dddeb9a9e986c5",
        "type": "ui_text",
        "z": "b7bffd295b9a1b79",
        "group": "dd969d2656fade9e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "forecast",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "da675b941371a6ed",
        "type": "e-mail",
        "z": "5d1f9e1affaa105e",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "dopemex851@mnqlm.com",
        "dname": "temp-mail",
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "b59f1174855c73d8",
        "type": "inject",
        "z": "5d1f9e1affaa105e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Kunal Mak",
        "payload": "kunal Makwana 19BAI1011",
        "payloadType": "str",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "da675b941371a6ed"
            ]
        ]
    },
    {
        "id": "77ab4f1fc1387717",
        "type": "inject",
        "z": "d22c141a78fa65eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temp\":21}",
        "payloadType": "json",
        "x": 520,
        "y": 460,
        "wires": [
            [
                "376c2b942c4275ef"
            ]
        ]
    },
    {
        "id": "376c2b942c4275ef",
        "type": "http request",
        "z": "d22c141a78fa65eb",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://demo.thingsboard.io/api/v1/YxIhE6UBaF6aSjchu2wX/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "decf9a3632cbe98d"
            ]
        ]
    },
    {
        "id": "decf9a3632cbe98d",
        "type": "debug",
        "z": "d22c141a78fa65eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 460,
        "wires": []
    }
]